<div class="site-wrap">
  <div class="homeContainer">

  <p class="box box1">
  We all know somebody that loves talking about how they're going to start working out, and how they're going to get into such amazing shape, but it seems they always have an excuse for why they weren't able to start their workout program? Setting goals and logging your progress is a much stronger motivator than most people realize. My goal with this website is to help those people improve their fitness and health, and the rid of all the excuses.
  </p>
  <p class="box box2">
    With this website, you will be able to set goals and hold yourself accountable by logging your workouts; whether it be a quick jog, a bike ride around the block, or a hardcore swole-sesh in the Iron Playground (AKA gym). Having a motivator, even something as small as a workout-tracker may seem, gives us that last little push we need to get ourselves where we truly want to be.
  </p>
  <p class="box box3">
    By tracking your workouts, even down to the sets, reps, and weight you used for each set, you are providing yourself a world of information that will help you figure out what seems to work for you and what doesn't. If you are thinking of incorporating a specific lift into your gym workout, you can go back and see if that exercise was able to get you the results that you were looking for when you first put it into use.
  </p>
  <p class="box box4">
    I have provided you with a workout index that lists multiple exercises which target specific muscle groups in different ways. Muscle confusion is a good way to keep the body wondering what's next, so it doesn't get used to the same movement over and over causing your workouts to plateau. Everyone has different goals for different reasons, and I'm hoping that this website will help you reach those goals and see just what you are capable of; you will be amazed at what you are actually capable of!
  </p>
</div>
</div>
