<div class="tableWrapper">
  <br>
  <h1 class="mwk">Log Your Latest Ride</h1>
  <hr>
  <br>
  <table class="gymTable">
    <th class="thMgym">Email Address</th>
    <th class="thMgym">Date(MM/DD/YYYY)</th>
    <th class="thMgym">Time Of Day</th>
    <th class="thMgym">Distance</th>
    <th class="thMgym">Workout Length</th>
    <tr class="trowMgym">
      <td><input class="wRow" type="text" placeholder="Enter Email"ng-model="logRide.email"></td>
      <td><input class="wRow" type="text" placeholder="MM/DD/YYYY" ng-model="logRide.date"></td>
      <td><input class="wRow" type="text" placeholder="HH:MM (am/pm)" ng-model="logRide.timeOfDay"></td>
      <td><input class="wRow" type="text" placeholder="Miles" ng-model="logRide.distance"></td>
      <td><input class="wRow" type="text" placeholder="#HR #MIN" ng-model="logRide.workoutLength"></td>
    </tr>
  </table>
  <br>
  <br>
  <table class="gymTable">
    <th class="thMgym">Avg Speed</th>
    <th class="thMgym">Avg HeartRate</th>
    <th class="thMgym">Surface Type</th>
    <th class="thMgym">Difficulty Level</th>
    <th class="thMgym">Other Notes</th>
    <tr class="trowMgym">
      <td><input class="wRow" type="text" placeholder="MM:SS / Mile" ng-model="logRide.avgSpeed"></td>
      <td><input class="wRow" type="text" placeholder="#BPM"ng-model="logRide.avgHR"></td>
      <td><input class="wRow" type="text" placeholder="Trail/Road/Etc"ng-model="logRide.surfaceType"></td>
      <td><input class="wRow" type="text" placeholder="# From 1 - 10" ng-model="logRide.difficulty"></td>
      <td><input class="wRow" type="text" placeholder="Workout Notes" ng-model="logRide.otherNotes"></td>
    </tr>
  </table>
<br>
<br>
  <button class="gymButton" ng-click="submitRide(logRide)">Submit Workout</button>
<br>
<br>
</div>
