<div id="logWrapper">
  <h1 class="runHeader">Log your latest run!</h1>
<p class="runRow1">Email Address:<input type="text" name="" placeholder="Email Address" ng-model="logRun.email"></p>
<p class="runRow2">Workout Date:<input type="text" name="" placeholder="Date" ng-model="logRun.date"></p><br><br>
<p class="runRow1">Time of Day:<input type="text" name="" placeholder="Time HH:MM" ng-model="logRun.timeofday"></p>
<p class="runRow2">Run Distance:<input type="text" name="" placeholder="Run Distance" ng-model="logRun.distance"></p><br><br>
<p class="runRow1">Workout Length:<input type="text" name="" placeholder="Workout Length" ng-model="logRun.workoutlength"></p>
<p class="runRow2">Avg. Speed:<input type="text" name="" placeholder="Avg Speed" ng-model="logRun.avgspeed"></p><br><br>
<p class="runRow1">Avg Heartbeat:<input type="text" name="" placeholder="Avg HR (bpm)" ng-model="logRun.avghr"></p>
<p class="runRow2">Run Surface:<input type="text" name="" placeholder="Treadmill/Track/Road/etc." ng-model="logRun.surfacetype"></p><br><br>
<p class="runRow1">Difficulty Level:<input type="text" name="" placeholder="1-10" ng-model="logRun.difficulty"></p>
<p class="runRow2">Other Workout Notes:<input type="text" name="" placeholder="Other Notes" ng-model="logRun.othernotes"></p><br><br>

<button ng-click="submitLog(logRun)">Submit Workout</button><br><br>

</div>
